
<meta name="google-site-verification" content="6KHQBlao9CRg6fJYsTzXSrmHkGA1MNgxHEqzDYMhs4c" />
<h1 class="sidebar"><a class="sidebar" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
<h1 style="font-size:18px; font-style:italic;">{{ .Site.Params.title }} <br/>
{{ .Site.Params.institution }}</h1>
<hr/>

{{ $.Scratch.Set "currentPageTitle" .Title }}

{{ range .Site.Menus.main }}
<p class="sidebar"><a class="sidebar" href="{{ .URL | relURL }}">{{- .Name -}}</a></p>

	{{ if and (eq "Research" ($.Scratch.Get "currentPageTitle")) (eq "Research" .Title) }}
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorkingPapers" | relURL }}">Working Papers</a></p>
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorksInProgress" | relURL }}">Work in Progress</a></p>
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#Publications" | relURL }}">Publications</a></p>	 
	{{end}}

{{ end }}

<p class="sidebar"><a class="sidebar" href="https://www.econ.uni-bonn.de/de/fachbereich/professorinnen/simon-trenkle">My Uni-Bonn Homepage</a></p> 

<!-- <p class="sidebar"><a class="sidebar" href="https://scholar.harvard.edu/stantcheva/classes">Teaching</a></p> -->
<!-- <p class="sidebar"><a class="sidebar" href="https://scholar.harvard.edu/stantcheva/classes/ec2907-public-reading-group">Reading Group</a></p> -->
<!-- <p class="sidebar"><a class="sidebar" href="http://socialeconomicslab.org/">Social Economics Lab</a></p> -->
<!-- <p class="sidebar"><a class="sidebar" href="https://scholar.harvard.edu/files/stantcheva/files/cv_sstantcheva_jan2023.pdf">Policy Transfer</a></p> -->
<!-- <p class="sidebar"><a class="sidebar" href="https://scholar.harvard.edu/files/stantcheva/files/cv_sstantcheva_jan2023.pdf">Bio and CV</a></p> -->

<!-- <p class="sidebar">
	<img src="{{ "/icons/twitter-white.png" | relURL }}" class="octicons">
<a class="sidebar" href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank">
@{{ .Site.Params.Twitter }}
</a></p>
-->
{{ with .Site.Params.logo }} 
{{ if (eq "Homepage" ($.Scratch.Get "currentPageTitle")) }}
<img src="{{ . | relURL }}" alt="Logo" style="padding-bottom: 3em;"/>
{{ else }}
<img class="nothomepage" src="{{ . | relURL }}" alt="Logo" style="padding-bottom: 3em;"/>
{{ end }}
{{ end }}
